.Home {
  background-color: #f0f0f0; /* Set your desired background color */
  background-image: url('https://marketplace.canva.com/EAFuKIbGJJg/1/0/900w/canva-green-watercolor-instagram-story-background-MpipxzoqTl0.jpg'); 
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  min-height: 100vh; /* Set a minimum height to cover the entire viewport */
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.logo {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  width: 100px; /* Set your desired width */
  height: auto; /* Maintain aspect ratio */
}


.header {
    
    font-size: medium;
    border-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
  
.title {
  font-style: italic;
  font-size: 50px;
  position: sticky;
  background-color: transparent; /* Remove background color */
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
}


.menu {
      position: sticky;
      top: 0;
      background-color:blanchedalmond;
      font-size: 100px;
   
}

.menu-list {
      display: flex;
      justify-content: space-evenly;
      list-style-type: none;
      margin: 0;
      padding-left: 0;
      align-items: center;
      height: 100%;
}


  @keyframes sparkle {
    0% {
      color:chocolate;
      transform: scale(1);
    }
    50% {
      color: chocolate;
      transform: scale(1.1);
    }
    100% {
      color: chocolate;
      transform: scale(1);
    }
  }
  
  .popular-drinks-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    animation: sparkle 1.5s infinite; /* Adjust the duration as needed */
  }

  .popular-drinks-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .popular-drinks-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .popular-drink-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .popular-drink-details img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .popular-drink-details p {
    margin: 5px 0;
  }
  

  