

.drinks-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
  }
  
  .drinks-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .drinks-list li {
    width: 200px;
    text-align: center;
  }
  
  .drinks-list img {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    max-width: 100%; 
    
  }
  
  .drinks-list h3 {
    margin: 10px 0;
  }
  
  .drinks-list p {
    margin: 5px 0;
  }
  
  .drinks-list button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  #currency {
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }

  label[for="currency"] {
    margin-right: 10px;
  }

  
  /* Media Queries for Responsive Design */
  
  @media (max-width: 768px) {
    .drinks-list li {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .drinks-list {
      justify-content: center;
    }
  }
  